<%= form_for @emailaccount do |f| %>
  <% if @emailaccount.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@emailaccount.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @emailaccount.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
