%notice
  = flash[:notice]
%h2 Listing Accounts
%br
%table.users
  %tr
    %th Email
    %th Name
    %th Group
  - @profiles.each do |emailaccount|
    %tr{:class => emailaccount.outdated? ?  "outdated" : "uptodate" }
      %td
        = emailaccount.email
      %td
        = emailaccount.name
      %td
        = emailaccount.group.to_s
      %td
        = link_to 'Show', emailaccount
        |
        = link_to 'Delete', emailaccount, :confirm => "Do you really want to delete #{emailaccount.email}?", :method => :delete
        |
        = link_to 'Get the zip file' , zip_by_id_path(emailaccount.standard_subaccount)
%br
= link_to 'New Account', new_emailaccount_path

