%h2 Listing Accounts
%br
%table{:border_color => "#FFFFFF", :border => 1, :width => "100%"}
  %tr
    %th Email
    %th Name
    %th 
  - @emailaccounts.each do |emailaccount|
    %tr
      %td
        = emailaccount.email
      %td
        = emailaccount.name
      %td
        = link_to 'Show', emailaccount
        |
        = link_to 'Edit', edit_emailaccount_path(emailaccount)
        |
        = link_to 'Delete', emailaccount, :confirm => "Do you really want to delete #{emailaccount.email}?", :method => :delete
        |
        = link_to 'Get the zip file' , emailaccount.zipPath
%br
= link_to 'New Account', new_emailaccount_path

