<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @emailaccount.email %>
</p>

<p>
  <b>Name:</b>
  <%= @emailaccount.name %>
</p>

<p>
  <b>Preferences:</b>
 
</p>

<%= link_to 'Edit', edit_emailaccount_path(@emailaccount) %> |
<%= link_to 'Back', emailaccounts_path %>


