%notice
  = flash[:notice]
= javascript_include_tag 'http://code.jquery.com/jquery-1.5.2.min.js'
%table
  %tr
    %td
      %b Email:
    %td
      = @profile.email
  %tr
    %td
      %b Name:
    %td
      = @profile.name
  %tr
    %td
      %b Group
    %td= @profile.group.to_s
  %tr
-if not @profile.subaccounts.empty?
  %h2 Profiles
  %table
    %tr
      %th ID
      %th Last downloaded
    - @profile.subaccounts.each do |each|
      %tr
        %td= each.id
        %td= time_ago_in_words each.last_get
%br
%hr
= render "shared/preferences"
%br 
  = link_to 'Back', emailaccounts_path
  