= flash[:notice]
%table
  %tr
    %td
      %b Email:
    %td
      = @emailaccount.email
  %tr
    %td
      %b Name:
    %td
      = @emailaccount.name
  %tr
%br
%hr
%br 
= form_tag(:action => "setParams") do
  %fieldset
    %legend Send all Mails in HTML
    %table
      %tr
        %td
          = label_tag("ON")
        %td
          = radio_button_tag(:html, true, checked = @emailaccount.preferences[:html] == "true")
      %tr
        %td
          = label_tag("OFF")
        %td
          = radio_button_tag(:html, false, checked = @emailaccount.preferences[:html] == "false")
  %fieldset
    %legend Quote
    %table
      %tr
        %td
          = select_tag(:quote, options_for_select([['reply above the quote', 1], ['reply below the quote', 0], ['select the quote', 2]], @emailaccount.preferences[:quote]))
  %fieldset
    %legend Configure the Signature
    %table
      %tr
        %td
          = text_area_tag(:signature, content = @emailaccount.preferences[:signature], :rows => 10, :cols => 70 )
      %tr
        %td
          %label Position of the signature (if "reply above the quote" is selected)
      %tr
        %td
          = select_tag(:signature_style, options_for_select([['below the quote', true], ['below my reply', false]],  @emailaccount.preferences[:signature_style]))
  %fieldset
    %legend Oflline mode
    %table
      %tr
        %label Save all messages when working offline
        %td
          = label_tag("Yes")
        %td
          = radio_button_tag(:save_offline_mode, "1", checked = @emailaccount.preferences[:save_offline_mode] == "1")
      %tr
        %td
          = label_tag("No")
        %td
          = radio_button_tag(:save_offline_mode, "2", checked = @emailaccount.preferences[:save_offline_mode] == "2")
    %table
      %tr
        %label Send all messages when going back online
        %td
          = label_tag("Yes")
        %td
          = radio_button_tag(:send_offline_mode, "1", checked = @emailaccount.preferences[:send_offline_mode] == "1")
      %tr
        %td
          = label_tag("No")
        %td
          = radio_button_tag(:send_offline_mode, "2", checked = @emailaccount.preferences[:send_offline_mode] == "2")
  %br
  = submit_tag("Save")
  = link_to 'Back', emailaccounts_path