%notice
  = flash[:notice]
= javascript_include_tag 'http://code.jquery.com/jquery-1.5.2.min.js'
%table
  %tr
    %td
      %b Email:
    %td
      = @profile.email
  %tr
    %td
      %b Name:
    %td
      = @profile.name
  %tr
    %td
      %b Group
    %td= @profile.group.to_s
  %tr
%br
%hr
= render "shared/preferences"
%br 
  = link_to 'Back', emailaccounts_path
  