<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @emailaccount.email %>
</p>

<p>
  <b>Name:</b>
  <%= @emailaccount.name %>
</p>

<p>
  <b>Preferences:</b>
 	<h2>Configure the Mail Settings</h2>
	<br />
	<fieldset>
		<legend>Send all Mails in HTML</legend>
		<table>
			<tr>
				<td><%= label_tag("ON") %></td><td><%= radio_button_tag(:html, true, checked = @emailaccount.preferences[:html] == "true",:disabled => true
) %></td>
			</tr>
			<tr>
				<td><%= label_tag("OFF") %></td><td><%= radio_button_tag(:html, false, checked = @emailaccount.preferences[:html] == "false", :disabled => true
				) %></td>
			</tr>
		</table>
	</fieldset>
	<fieldset>
		<legend>Quote</legend>
		<table>
			<tr>
				<%= select_tag(:quote, options_for_select([['reply above the quote', 1], ['reply below the quote', 0], 
					['select the quote', 2]], @emailaccount.preferences[:quote]), :disabled => true) %>
			</tr>
		</table>
	</fieldset>
	<fieldset>
		<legend>Configure the Signature</legend>
		<table>
			<tr>
				<td><%= text_area_tag(:signature, content = @emailaccount.preferences[:signature], :rows => 10, :cols => 70, :disabled => true )%>   </td>
			</tr>
			<tr>
				<td><label> Position of the signature </label>
				<br></br><%= select_tag(:signature_style, options_for_select([['below the quote', true], 
					['below my reply', false]],  @emailaccount.preferences[:signature_style]), :disabled => true) %></td>
			</tr>
		</table>
	</fieldset>
</p>

<%= link_to 'Edit', edit_emailaccount_path(@emailaccount) %> |
<%= link_to 'Back', emailaccounts_path %>


