<!DOCTYPE html>
<html>
	<head>
		<title>TBMS</title>
	<%= stylesheet_link_tag 'style', :media => 'screen' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
	</head>
	<body>
		<div class="global">
			<div class="header">
				<h1>Thunderbird Control Center</h1> ver. 1.0
			</div><!-- end header -->
			<div class="navigation">
				<%= link_to "home", root_url %> | <%= link_to "Email Account", emailaccount_path %> | Groups | Generate Zip | Statistics | <%= link_to "Informations", account_url(:current)  %>
        <div class="login"><%= link_to "Logout", logout_path %></div>
			</div><!-- end navigation -->
			<div class="main">
				<div class="contentOne">
						<%= yield %>
				</div><!-- end contentOne -->
				<div class="contentTwo">
					<h2>Overview</h2>
				</div><!-- end contentTwo -->
			</div><!-- end main -->
			<div class="footer">
				ver 1.0 
			</div><!-- end footer -->
		</div><!-- end global -->
	</body>
</html>




