!!! XML
!!!
%html
  %head
    %title= TBMS
    = stylesheet_link_tag 'style', :media => 'screen'
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    .global
      .header
        %h1 Thunderbird Control Center
        ver. 1.0
      .navigation
        = link_to "home", root_url
        |
        = link_to "Email Account", emailaccounts_path
        |
        = link_to "Informations", account_url(:current)
        .login
          = link_to "Logout", logout_path
      .main
        .contentOne
          = yield
        .contentTwo
          = render :template => 'overview/show'
      .footer
        ver 1.0 




