<%= form_for(@subaccount) do |f| %>
  <% if @subaccount.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subaccount.errors.count, "error") %> prohibited this subaccount from being saved:</h2>

      <ul>
      <% @subaccount.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :last_get %><br />
    <%= f.datetime_select :last_get %>
  </div>
  <div class="field">
    <%= f.label :emailaccount %><br />
    <%= f.text_field :emailaccount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
