<h1>Listing subaccounts</h1>

<table>
  <tr>
    <th>Last get</th>
    <th>Emailaccount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @subaccounts.each do |subaccount| %>
  <tr>
    <td><%= subaccount.last_get %></td>
    <td><%= subaccount.emailaccount %></td>
    <td><%= link_to 'Show', subaccount %></td>
    <td><%= link_to 'Edit', edit_subaccount_path(subaccount) %></td>
    <td><%= link_to 'Destroy', subaccount, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Subaccount', new_subaccount_path %>
