%notice
  = flash[:notice]
%br
= form_for @profile do |f|
  - if @profile.errors.any?
    #error_explanation
      %h2
        = pluralize(@profile.errors.count, "error")
        prohibited this account from being saved:
      %ul
        - @profile.errors.full_messages.each do |msg|
          %li
            = msg
  
  %fieldset
    %legend Create Group
    %table
      %tr
        %td
          = f.label :name
        %td
          = f.text_field :name
      %tr
        %td  
          = submit_tag("Create")

