%notice
  = flash[:notice]
%br
= link_to 'New Group', new_group_path
%br
%br
%h2 Listing groups
%br
%table.users
  %tr
    %th Name
    %th Members
    %th 
    %th 
    %th 
  - @groups.each do |group|
    %tr
      %td= group.name
      %td= group.members.size
      %td= link_to 'Show', group
      %td= link_to 'Edit', edit_group_path(group)
      %td= link_to 'Delete', group, :confirm => 'Are you sure?', :method => :delete