%notice
  = flash[:notice]
- if flash[:error]
  %error
    =flash[:error]
  
  %br
  %br
%h2 Group List
%br
%br
= link_to 'New Group', new_group_path
%hr
%br
%table.users
  %tr
    %th Name
    %th Members
    %th
    %th 
  - @profiles.each do |group|
    %tr
      %td= link_to  group.name, group
      %td= group.members.size
      %td= link_to 'Edit Name', edit_group_path(group)
      - if group.name != "No Group"
        %td= link_to 'Delete', group, :confirm => "Are you sure you want to delete \"#{group.name}\"?", :method => :delete
      -else 
        %td