%notice
  = flash[:notice]
  %br
= javascript_include_tag 'jquery-1.5.2.min.js'
%br
%h2= Group
%br
%br
= link_to "Set all Members back", override_members_path(@profile), :confirm => "Do you really want to reset all the members settings?"
|
= link_to 'Edit Name', edit_group_path(@profile)
|
= link_to 'Back', groups_path
%hr
%br
%table
  %tr
    %td
      %b Name:
    %td
      = @profile.name
  %tr
    %td
      %b Group:
    %td= @profile.group.to_s
  %tr
%br
%a#showMem(href="#")Show all Members

%table.users#show
  %tr
    %th Name
    %th Email
    %th
  - @profile.groups.each do |group|
    %tr
      %td= group.name
      %td
      %td= link_to 'Show', group
      %td= link_to 'Delete', group, :confirm => "Do you really want to delete #{group.name}?", :method => :delete
  - @profile.emailaccounts.each do |email|
    %tr{:class => email.outdated? ?  "outdated" : "uptodate" }
      %td= link_to email.name, email
      %td= link_to email.name, email
      %td
        = link_to 'Delete', email, :confirm => "Do you really want to delete #{email.name}?", :method => :delete

%br
%br
= render "shared/preferences"
%br
= link_to 'Back', groups_path

:javascript

  $("#show").hide();
  var show = true;
  $("#showMem").click(function () {
        if(show){ 
          $("#show").show();
          show = false;
        }
        else {
           $("#show").hide();
           show = true;
        }
        return true;
      });
