<% form_tag(:action => "setHtml") do %>
	<h2>Configure the Mail Settings</h2>
	<br />
	<fieldset>
		<legend>Send all Mails in HTML</legend>
		<table>
			<tr>
				<td><%= label_tag("ON") %></td><td><%= radio_button_tag("html", true, checked = true) %></td>
			</tr>
			<tr>
				<td><%= label_tag("OFF") %></td><td><%= radio_button_tag("html", false, checked = false) %></td>
			</tr>
		</table>
	</fieldset>
	<fieldset>
		<legend>Configure the Signature</legend>
		<table>
			<tr>
				<td><%= text_area_tag("signatur", content = nil, :rows => 10, :cols => 70 )%>   </td>
			</tr>
		</table>
	</fieldset>
	<%= submit_tag("Save") %>
<% end %>

<ul>
   <% @emailaccount.each do |emailaccount| %>
           <li><%= link_to emailaccount.email, edit_emailaccount_path(emailaccount) %>
   <%end%>
   <li> <%= link_to "New Account", new_emailaccount_path %>
</ul>


