<% form_tag(:action => "setHtml") do %>
	<h2>Configure the Mail Settings</h2>
	<br />
	<fieldset>
		<legend>Send all Mails in HTML</legend>
		<table>
			<tr>
				<td><%= label_tag("ON") %></td><td><%= radio_button_tag("html", true, checked = false) %></td>
			</tr>
			<tr>
				<td><%= label_tag("OFF") %></td><td><%= radio_button_tag("html", false, checked = false) %></td>
			</tr>
		</table>
	</fieldset>
		<fieldset>
		<legend>Quote - this stuff does nothing currently! add functionality plix</legend>
		<table>
			<tr>
				<%= select_tag(:quote, options_for_select([['reply above the quote', 0], ['reply below the quote', 1], ['select the quote', 2]])) %>
			</tr>
			<tr>
				<br> </br>
				<label> If reply above the quote enable this stuff here below </label>
				<br> </br>
					<%= select_tag(:signatur_style, options_for_select([['below the quote', true], ['below my reply', false]])) %>
			</tr>
		</table>
	</fieldset>
	<fieldset>
		<legend>Configure the Signature</legend>
		<table>
			<tr>
				<td><%= text_area_tag("signatur", content = nil, :rows => 10, :cols => 70 )%>   </td>
			</tr>
		</table>
	</fieldset>
	<%= submit_tag("Save") %>
<% end %>



