%notice
  = flash[:notice]
%br
= link_to 'New Account', new_emailaccount_path
%br
%br
%h2 Listing Accounts
%br
%table.users
  %tr
    %th Email
    %th Name
    %th Group
    %th
    %th
    %th
  - @emailaccounts.each do |emailaccount|
    %tr
      %td
        = emailaccount.email
      %td
        = emailaccount.name
      %td
        = emailaccount.group.to_s
      %td
        = link_to 'Show', emailaccount
      %td
        = link_to 'Delete', emailaccount, :confirm => "Do you really want to delete #{emailaccount.email}?", :method => :delete
      %td
        = link_to 'zip' , "/profile/#{emailaccount.email}"
%br
= will_paginate @emailaccounts

