%notice
  = flash[:notice]
  %br
  %br
%h2 Account List
%br
%br
= link_to 'New Account', new_emailaccount_path
%hr
%br
%table.users
  %tr
    %th
      = sort_link @search, :email
    %th
      = sort_link @search, :name
    %th
      = sort_link @search, :group_id
    %th
      = sort_link @search, :outdated
    %th
    %th
  - @profiles.each do |emailaccount|
    %tr
      %td
        = link_to emailaccount.email, emailaccount
      %td
        = link_to emailaccount.name, emailaccount
      %td
        = link_to emailaccount.group.to_s, emailaccount.group
      %td{:class => emailaccount.outdated? ?  "outdated" : "uptodate" }
        = emailaccount.outdated?
      %td
        = link_to 'Delete', emailaccount, :confirm => "Do you really want to delete \"#{emailaccount.email}\"?", :method => :delete
      %td
        = link_to 'Zip' , zip_by_id_path(emailaccount.standard_subaccount)
%br
= paginate @profiles