= flash[:notice]
%br
%table
  %tr
    %td
      %b Name:
    %td
      = @profile.name
  %tr
    %td
      %b Group
    %td= @profile.group.to_s
  %tr
%br
%hr
%br
= render "shared/preferences"
= link_to 'Edit', edit_group_path(@profile)
|
= link_to 'Back', emailaccounts_path
