!!! XML
!!!
%html
  %head
    %title= "TBMS - Thunderbird Control Center"
    = stylesheet_link_tag 'style', :media => 'screen'
    = javascript_include_tag 'markdown'
    = javascript_include_tag 'textarea'
    = csrf_meta_tag
  %body
    .global
      .header
        .img
          %img{:src => "/images/logo.png", :alt => "Logo"}
        .title
          %h1 Thunderbird Control Center
      .navigation
        = link_to "Email Accounts", emailaccounts_path
        |
        = link_to "Groups", groups_path
        |
        = link_to "Import", account_url(:current)
        .login
          = link_to "Logout", logout_path
          "Login"
      .main
        .contentOne
          = yield
        .contentTwo
          = render :template => 'overview/show'
      .footer
        ver 3.0



