%h2 Preferences:
%br
%fieldset
  %legend Send all Mails in HTML
  %table
    %tr
      %td
        = label_tag("ON")
      %td
        = radio_button_tag(:html, true, checked = @profile.preferences[:html] == "true",:disabled => true)
    %tr
      %td
        = label_tag("OFF")
      %td
        = radio_button_tag(:html, false, checked = @profile.preferences[:html] == "false", :disabled => true)
%fieldset
  %legend Quote
  %table
    %tr
      %td
        = select_tag(:quote, options_for_select([['reply above the quote', 1], ['reply below the quote', 0],['select the quote', 2]], @profile.preferences[:quote]), :disabled => true)
%fieldset
  %legend Configure the Signature
  %table
    %tr
      %td
        = text_area_tag(:signature, content = @profile.preferences[:signature], :rows => 10, :cols => 70, :disabled => true )
    %tr
      %td
        %label Position of the signature
    %tr
      %td
        = select_tag(:signature_style, options_for_select([['below the quote', true],['below my reply', false]],  @profile.preferences[:signature_style]), :disabled => true)

%br
